<nav class="navbar navbar-default">
  <div class="container container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>VenturX</strong></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" (click)="profile()"><strong> Hello, {{ username }}</strong></a></li>
      <li><a href="#" (click)="logout()"> Log Out</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<app-top></app-top>
<app-dash></app-dash>
</div>
<footer>
  <p>&copy;VenturX. Created by Grevil Lopes</p>
</footer>
