<div class="row sub-container">
  <div class="col-md-3">
    <img src="../../../assets/Capture1.PNG" alt="profile pic" class="img-rounded profile-img">
  </div>
  <div class="col-md-9 table-container">
    <table>
      <tr>
        <td class="block1"><strong>Market</strong></td>
        <td class="block2">Fill in who are your customers?</td>
        <td class="block3"></td>
      </tr>
      <tr>
        <td class="block1"><strong>Pain</strong></td>
        <td class="block2">What is the pain statement that you are trying to solve for them?</td>
        <td class="block3"></td>
      </tr>
      <tr>
        <td class="block1"><strong>Benefit</strong></td>
        <td class="block2">What is the benefit that will match that pain statement?</td>
        <td class="block3">
          <button type="button" class="btn btn-default">Edit Profile</button>
        </td>
      </tr>
    </table>
  </div>
</div>

