<div>
  <div class="text-center heading-div">
    <p>
      <span class="heading-text">How is <strong>VenturX</strong><a href="#">
          <span class="glyphicon glyphicon-pencil"></span>
        </a> doing today?</span> <span class="text-muted sub-text">Check dashboard</span>
    </p>
  </div>

  <div>
    <div class="container">
      <div class="row sub-container">
        <div class="col-md-3 col-sm-6">
          <div class="progress dash1">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
            <div class="progress-value">75% Product</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="progress dash2">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
            <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
            <div class="progress-value">6 months runway</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="progress dash3">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
            <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
            <div class="progress-value"><p>60% conversion</p></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="progress dash4">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
            <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
            <div class="progress-value">100% engagement</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="alert alert-warning">
    <p><strong>Small conversion?</strong> learn what you can do to <strong>rise your conversion</strong>.</p>
  </div>
  <div class="alert alert-danger">
    <p><strong>Low product score? Try this</strong> to get more ...</p>
  </div>
</div>
